#include <winres.h>
#include "resource.h"

IDD_DIALOG1 DIALOGEX 0, 0, 127, 44
STYLE DS_SETFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Enter New Callsign"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,7,7,113,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,7,23,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,70,23,50,14
END
